{% block menu %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Movies MVC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">Llistat de pel·lícules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/inserir">Insertar pel·lícula</a>
                </li>
            </ul>
            {# {%if not username %} #}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Registro</a>
                </li>
            </ul>
            {# {%endif %} #}
        </div>
    </nav>
{% endblock %}